.msFormsOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .msFormsOverlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .msForms {
    margin: 20px auto;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    width: 70%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  iframe {
   height: 800px;
   width: 100%;
  }
  
  .office-form-question{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
  }
  
  
  .msForms .msFormsmsFormsClose {
    position: absolute;
    top: -5px;
    right: 1px;
    transition: all 200ms;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .msForms .msFormsmsFormsClose:hover {
    color: #06D85F;
  }
  .msForms .msFormsContent {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 100%;
    }
    .msForms{
      width: 90%;
    }
    iframe {
      height: 700px;
      width: 100%;
  }
  }
